
$widely-breakpoint: 864px

// Safari 11.0-13.0 / iOS 11.3-13.3
@function clamp-backport($minValue, $value, $maxValue)
	@return min($maxValue, max($value, $minValue))

=safari-only
	@at-root ::-webkit-full-page-media, :future, :root &
		@content

=clip
	overflow: hidden
	overflow: clip

=text-overflow-ellipsis
	+safari-only
		overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap
	

=backdrop-filter($filter)
	-webkit-backdrop-filter: $filter
	backdrop-filter: $filter

=unselectable
	-webkit-touch-callout: none
	-webkit-user-select: none
	// -moz-user-select: none // 0.09%
	-ms-user-select: none // 0.37%
	user-select: none

=reduced-motion
	.use-reduced-motion &
		@content
	@media (prefers-reduced-motion)
		body:not(.no-reduced-motion) &
			@content

=widely
	@media screen and (min-width: $widely-breakpoint), print
		@content

// Recommend after display
=widely-container
	padding: 0 12px
	+widely
		padding-left: 24px
		padding-right: max(calc(24px - var(--scrollbar-width)), calc(var(--scrollbar-width) - 22px))
		.is-popover-active &
			padding-right: 24px
