@use "../base/variables" as *

=base
	font-family: $font-title

=main
	margin-bottom: 0.5em
	+base
	line-height: 1.25
	letter-spacing: -.01em
	color: $black-dark2
	a:hover
		color: $black-dark3

=sub
	+base
	line-height: 1.375
	color: $black-dark1
	a:hover
		color: $black-dark2
