@use "sass:math"

@use "../mixins" as *
@use "../base/variables" as *

$navbar-height: 56px

$navbar-item-color: $black
$navbar-item-hover-color: $accent-dark1

$navbar-title-color: $black-dark1

// navbar-container
.nnc
	contain: strict
	display: flex
	+widely-container
	align-items: flex-end
	height: $navbar-height

// navbar
.nn
	display: flex
	width: 100%
	max-height: $navbar-height
	align-items: center
	justify-content: space-between
	+unselectable

.n-item
	display: block
	padding-inline: 0.75rem

a.n-item
	&:focus,
	&:focus-within,
	&:hover,
	&.is-active
		color: $navbar-item-hover-color // TODO move to paint

.n-brand
	.n-item
		padding-left: 0

.n-end
	justify-content: flex-end
	.n-item
		padding-right: 0

.n-title // .is-3
	color: $navbar-title-color // TODO move to paint
	font-size: min(floor(math.div($navbar-height, 1.125) - $content-spacing), 2rem)
	font-weight: 600 // TODO move to paint
	line-height: 1.125
