@use "../mixins" as *
@use "../base/variables" as *
@use "../elements/glass" as *

$navbar-height: 56px

$radius: 8px
$shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, .1), 0 0px 0 1px rgba(0, 0, 0, .02)

$VideoPlayer-minimum-spacing: 24px

$VideoInfo-title-size: clamp-backport(1.5em, 4vmin, 3em)
$VideoInfo-narrow-spacing: 12px

:root
	--VideoPlayer-content-aspect: 16
	--VideoPlayer-max-height: calc(100vh - #{$navbar-height + 2 * $content-spacing} - 1.6 * #{$VideoInfo-title-size})
	--VideoPlayer-max-height: calc(100svh - #{$navbar-height + 2 * $content-spacing} - 1.6 * #{$VideoInfo-title-size})
	--VideoPlayer-max-width: none
	--VideoPlayer-spacing-left: 0
	--VideoPlayer-spacing-right: 0
	.is-popover-active
		--VideoPlayer-spacing-right: var(--scrollbar-width)
	+widely
		--VideoPlayer-max-width: min(100% - max(#{2 * $VideoPlayer-minimum-spacing} - var(--scrollbar-width), 4px + var(--scrollbar-width)), var(--VideoPlayer-max-height) * var(--VideoPlayer-content-aspect) / 9)
		--VideoPlayer-spacing-left: calc(50% - 0.5 * (var(--VideoPlayer-max-width) - var(--scrollbar-width)))
		--VideoPlayer-spacing-right: calc(50% - 0.5 * (var(--VideoPlayer-max-width) + var(--scrollbar-width)))
		.is-popover-active
			--VideoPlayer-max-width: min(100% - max(#{2 * $VideoPlayer-minimum-spacing}, 4px + var(--scrollbar-width)), var(--VideoPlayer-max-height) * var(--VideoPlayer-content-aspect) / 9)
			--VideoPlayer-spacing-left: calc(50% - 0.5 * var(--VideoPlayer-max-width))
			--VideoPlayer-spacing-right: calc(50% - 0.5 * var(--VideoPlayer-max-width))

.VideoPlayer, .VideoInfo
	margin: $content-spacing var(--VideoPlayer-spacing-right) $content-spacing var(--VideoPlayer-spacing-left)
	max-width: var(--VideoPlayer-max-width)

.VideoPlayer
	contain: content
	+clip
	+glass(#F4F4F4)
	box-shadow: $shadow16
	+widely
		border-radius: clamp-backport(8px, 1.5vmin, 32px)
		.no-scale &
			border-radius: 8px
	.no-scale &
		margin: 0 auto // [TODO] centering
		width: fit-content
	video
		width: 100%
		height: 100%

.VideoInfo
	padding: 0 $VideoInfo-narrow-spacing
	+widely
		padding: 0
	h1
		+clip
		margin-bottom: 0.28em
		font-size: $VideoInfo-title-size
		font-weight: bold
		letter-spacing: _clamp(-.01em, -.026667vmin, -.02em)
		line-height: 1.25
