@use "sass:color"

$fontsize: 16px // Use em based layout
$radius: .5em

$navbar-height: 4em
$navbar-spacing: .5em

$container-margin: 24px
$container-margin-mobile: 12px
$container-padding: 16px

$content-spacing: 1em

$black: #1A1A1C
$black-dark1: color.scale($black, $lightness: -30%)
$black-dark2: color.scale($black, $lightness: -60%)
$black-dark3: color.scale($black, $lightness: -90%)

$black2: #595961
$black2-dark1: color.scale($black2, $lightness: -30%)
$black2-dark2: color.scale($black2, $lightness: -60%)
$black2-dark3: color.scale($black2, $lightness: -90%)

$white: #FFFFFF
$white-dark1: #EEEEEE
$white-dark2: #DDDDDD
$white-dark3: #CCCCCC

$accent-light: #FF1F96
$accent-light-dark1: darken($accent-light, 5%)
$accent-light-dark2: darken($accent-light, 10%)
$accent-light-dark3: darken($accent-light, 15%)

$accent-dark: #E00077
$accent-dark-dark1: darken($accent-dark, 5%)
$accent-dark-dark2: darken($accent-dark, 10%)
$accent-dark-dark3: darken($accent-dark, 15%)

$background-gradient-degree: 65deg
$background-gradient-base-light: #FFFFFF
$background-gradient-color-light: #FEADD8
$background-gradient-base-dark: #000000
$background-gradient-color-dark: #790141

$glass-background-light: color.adjust($white, $alpha: -0.333)
$glass-background-dark: color.adjust($black, $alpha: -0.25)

$error: #FF0000

$font: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI Variable", "Segoe UI", "Roboto", "Yu Gothic UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
$font-title: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI Variable", "Segoe UI", "Roboto", Meiryo, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
