@use "../base/variables" as *

:root
	// Apply JavaScript, but it has placeholders
	--scrollbar-width: calc(100vw - 100%)
	--scrollbar-width: calc(100lvw - 100%)

html
	-moz-osx-font-smoothing: auto
	-webkit-font-smoothing: subpixel-antialiased
	text-size-adjust: 100%

body
	overflow: scroll
	overflow-x: hidden
	font-family: $font
	&.is-popover-active
		overflow: hidden

a
	color: $accent
	text-decoration: none
	&:hover
		color: $accent-dark1
